<p>
  destino-detalle works! => {{destino.id}}
  <br>
  {{destino.nombre}}
</p>
<hr>
<mgl-map [style]="style"  [zoom]="[2]" style="height:50vh; width:100vw;">
  <mgl-marker [lngLat]="[-54.93491543024531, -34.945562109480825 ]">
    <div onClick="alert('Hola')" class="marker"><span class="material-icons" style="color: red;">place</span></div>
  </mgl-marker>
</mgl-map>
