<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
  <div class="card-img">
    <img src="{{destino.imagenUrl}}" alt={{destino.nombre}}>
    <span><h4>{{position}}</h4></span>
  </div>
  <div class="card-desc">
    <h3>{{destino.nombre}}</h3>
    <p>Servicios:</p>
    <ul class="list-group mb-3">
      <li class="list-group-item" *ngFor="let s of destino.servicios">
        <span [ngSwitch]="s">
          <i *ngSwitchCase="'desayuno'" style="color: red">{{s}}</i>
          <i *ngSwitchDefault>{{s}}</i>
        </span>
      </li>
    </ul>
    <div>
      <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
        <i class="material-icons md-18 mr-4">thumb_up</i></a>
      <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">
        <i class="material-icons md-18">thumb_down</i></a>
      <a href="#" class="btn btn-danger float-right" (click)="voteReset()">Reset Votes</a>
      <p>{{destino.votes}} Votes</p>
    </div>
    <a href="#" class="btn-card" (click)="ir()"
       appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">Ir!</a>
    <span *ngIf="destino.isSelected()">- PREFERIDO -</span>
    <a [routerLink]="['/destino/', destino.id]">Ver detalle</a>
  </div>
</div>
